.Panel {
    color: var(--color-light);
    margin: 0;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 14rem);

    @media screen and (min-width: 68rem) {
        padding: 4rem;
    }

    h1 {
        color: var(--color-light);
        font-size: 4rem;
        margin: 0;
    }

    h2 {
        color: var(--color-light);
        font-size: 3rem;
        font-weight: 500;
        margin: 0;
    }

    p {
        font-size: 2rem;

        a {
            background-color: var(--color-main);
            color: var(--color-light);
            padding: 0.25rem 0.4rem;
            text-decoration: none;
            line-height: 1.8;

            &:hover,
            &:focus {
                background-color: var(--color-light);
                color: var(--color-main);
            }
        }
    }
}

.Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
