$color-main: #23a1ff;
$color-light: #fff;
$color-dark: #484848;
$color-darker: #262626;

$font-headline: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$radius: 1rem;
$max-width: 90rem;

$size-xxs: 30rem;
$size-xs: 48rem;
$size-sm: 68rem;
$size-md: 75rem;
$size-lg: 80rem;
$size-xl: 100rem;
$size-xxl: 140rem;
