@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@import './Config.scss';

:root {
    --color-main: #{$color-main};
    --color-light: #{$color-light};
    --color-dark: #{$color-dark};
    --color-darker: #{$color-darker};
    --font-headline: #{$font-headline};
    --font-body: #{$font-body};
    --max-width: #{$max-width};
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-body);
    margin: 0;
    min-width: 17.5rem;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-main);
    font-family: var(--font-headline);
}

h1 {
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    color: var(--color-light);
    line-height: 1.4;
    margin: 0 0 1rem;
}

a {
    color: var(--color-main);
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.header-bar {
    background-color: var(--color-darker);
    color: var(--color-light);
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem;
    text-transform: uppercase;

    $parent: &;

    &__text {
        color: var(--color-light);
        font-size: 1.25rem;
        margin: 0;
    }

    &:hover,
    &:focus {
        text-decoration: none;

        #{$parent}__text {
            color: var(--color-main);
        }
    }
}

.content {
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: var(--max-width);
}

.bg-page {
    background-color: var(--color-dark);
}
