@import '../../styles/Config.scss';

$height-sm: 3rem;
$height: 5rem;
$height-border: 1rem;

.Header {
    align-items: center;
    background-color: var(--color-darker);
    border: 0 solid var(--color-main);
    border-bottom-width: $height-border;
    display: flex;
    flex-direction: row;
    position: relative;

    @media screen and (min-width: $size-md) {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}

.HeaderContainer {
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;

    @media screen and (min-width: $size-xs) {
        align-items: center;
        flex-direction: row;
        height: $height;
    }
}

.Logo {
    align-items: center;
    background-color: var(--color-main);
    color: var(--color-light);
    display: flex;
    flex: 0 0 auto;
    font-family: var(--font-headline);
    font-size: 1.25rem;
    font-weight: 700;
    height: $height-sm;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
        background-color: var(--color-dark);
        color: var(--color-main);
        text-decoration: none;
    }

    @media screen and (min-width: $size-xs) {
        height: $height;
        width: 13rem;
    }

    @media screen and (min-width: $size-sm) {
        font-size: 2rem;
        width: 15rem;
    }
}

.Tagline {
    @media screen and (max-width: $size-sm) {
        display: none;
    }

    color: var(--color-main);
    font-size: 0.5rem;
    font-style: italic;
    margin: 0;
    padding: 0 2rem;
    white-space: nowrap;

    @media screen and (min-width: $size-sm) {
        font-size: 0.75rem;
    }

    @media screen and (min-width: $size-md) {
        font-size: 1rem;
    }
}

.Nav {
    width: 100%;
}

.NavList {
    background-color: var(--color-darker);
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $size-xs) {
        background-color: transparent;
        float: right;
    }
}

.NavListItem {
    position: relative;

    a {
        align-items: center;
        color: var(--color-light);
        display: flex;
        flex: 1;
        font-family: var(--font-headline);
        font-size: 0.7rem;
        font-weight: 500;
        height: $height-sm;
        justify-content: center;
        padding: 0 0.25rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: var(--color-dark);
            text-decoration: none;
        }

        @media screen and (min-width: $size-xxs) {
            font-size: 0.75rem;
            padding: 0 0.5rem;
        }

        @media screen and (min-width: $size-xs) {
            font-size: 1.125rem;
            height: $height;
            padding: 0 $height-border;
        }
    }
}

.NavLinkActive {
    background-color: var(--color-dark);

    &::after {
        background-color: var(--color-dark);
        bottom: -1rem;
        content: '';
        height: $height-border;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}
