@import '../../styles/Config.scss';

$height: 5rem;
$height-border: 1rem;

.Header {
    align-items: center;
    background-color: var(--color-darker);
    display: flex;
    flex-direction: row;
    height: $height;
    padding-bottom: $height-border;
    position: relative;
}

.HeaderContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: $height;
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
}

.Logo {
    align-items: center;
    background-color: var(--color-main);
    color: var(--color-light);
    display: flex;
    flex: 0 0 auto;
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 700;
    height: $height;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    width: 15rem;

    &:hover,
    &:focus {
        background-color: var(--color-dark);
        color: var(--color-main);
        text-decoration: none;
    }
}

.Tagline {
    @media screen and (max-width: $size-sm) {
        display: none;
    }

    color: var(--color-main);
    font-size: 0.5rem;
    font-style: italic;
    margin: 0;
    padding: 0 2rem;
    white-space: nowrap;

    @media screen and (min-width: $size-sm) {
        font-size: 0.75rem;
    }

    @media screen and (min-width: $size-md) {
        font-size: 1rem;
    }
}

.Nav {
    width: 100%;

    &::after {
        background-color: var(--color-main);
        bottom: 0;
        content: '';
        display: block;
        height: $height-border;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

.NavList {
    display: flex;
    flex: 1;
    float: right;
    list-style: none;
    margin-left: auto;
    margin: 0;
    padding: 0;
}

.NavListItem {
    position: relative;

    a {
        align-items: center;
        color: var(--color-light);
        display: flex;
        flex: 1;
        font-family: var(--font-headline);
        font-size: 1.125rem;
        font-weight: 500;
        height: $height;
        justify-content: center;
        padding: 0 $height-border;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: var(--color-dark);
            text-decoration: none;
        }
    }
}

.NavLinkActive {
    background-color: var(--color-dark);

    &::after {
        background-color: var(--color-dark);
        bottom: -1rem;
        content: '';
        height: $height-border;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}
