@import '../../styles/Config.scss';

.ProfileHeader {
    @media screen and (min-width: $size-sm) {
        display: flex;
    }
}

.ProfileImage {
    overflow: hidden;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
}

.Aside {
    max-width: 75%;
    margin: 2rem auto;

    @media screen and (min-width: $size-xxs) {
        max-width: 50%;
    }

    @media screen and (min-width: $size-sm) {
        margin: auto;
        max-width: 14rem;
        width: 30%;
    }
}

.Biography {
    margin-right: 2rem;
    width: 100%;

    p {
        font-size: 1.125rem;
        line-height: 1.5;
        margin: 0;

        @media screen and (min-width: $size-sm) {
            font-size: 1.25rem;
        }

        @media screen and (min-width: $size-md) {
            font-size: 1.5rem;
        }
    }
}
