@import '../../styles/Config.scss';

.Aside {
    @media screen and (min-width: $size-sm) {
        display: flex;

        section {
            width: 50%;

            &:nth-child(odd) {
                padding-right: 1rem;
            }

            &:nth-child(even) {
                padding-left: 1rem;
            }
        }
    }
}

.Footer {
    border: 0 var(--color-main) solid;
    border-top-width: 0.125rem;
    font-size: 0.75rem;
    margin: 2rem auto 0;
    max-width: var(--max-width);
    padding: 1rem;
}

.List {
    list-style: none;
    padding: 0 1rem;
    margin: 1rem 0;
}

.ListItemBrain {
    background-image: url('/images/brain.svg');
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    margin-bottom: 1rem;
    min-height: 2rem;
    padding: 0 0 0 3rem;
}

.ListItemTweet {
    background-image: url('/images/twitter.svg');
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    margin-bottom: 1rem;
    min-height: 2rem;
    padding: 0 0 0 3rem;

    p {
        margin: 0;
    }

    a {
        font-size: 0.75rem;

        @media screen and (min-width: $size-md) {
            font-size: 0.875rem;
        }
    }
}
